<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../../assets/css/styles.css">

      <title>Absensi</title>
   </head>
   <body>
      <!--=============== HEADER ===============-->
      <header class="header">
         <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo">
                  <img src="../../assets/img/logoStikes.png" alt="logo-stikes-panti-waluyo" width="230px" height="50px"> 
               </a>
               
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a href="dashboard.html" class="nav__link">Home</a></li>

                  <!-- Dropdown Mahasiswa -->
                  <li class="dropdown__item">
                     <div class="nav__link">
                        Mahasiswa <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="formMhs.html" class="dropdown__link">
                              <i class="ri-add-circle-line"></i> Tambah Mahasiswa
                           </a>                          
                        </li>

                        <li>
                           <a href="dataMhs.html" class="dropdown__link">
                              <i class="ri-edit-2-line"></i> Data Mahasiswa
                           </a>
                        </li>
                     </ul>
                  </li>

                  <!-- Dropdown Dosen -->
                  <li class="dropdown__item">
                     <div class="nav__link">
                        Dosen <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="formDosen.html" class="dropdown__link">
                              <i class="ri-add-circle-line"></i> Tambah Dosen
                           </a>                          
                        </li>

                        <li>
                           <a href="dataDosen.html" class="dropdown__link">
                              <i class="ri-edit-2-line"></i> Data Dosen
                           </a>
                        </li>
                     </ul>
                  </li>

                  <!-- Dropdown Matkul -->
                  <li class="dropdown__item">
                     <div class="nav__link">
                        Matkul <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="formMatkul.html" class="dropdown__link">
                              <i class="ri-add-circle-line"></i> Tambah Matkul
                           </a>                          
                        </li>

                        <li>
                           <a href="dataMatkul.html" class="dropdown__link">
                              <i class="ri-edit-2-line"></i> Data Matkul
                           </a>
                        </li>
                     </ul>
                  </li>
                  
                  <!-- Dropdown Users -->
                  <li class="dropdown__item">
                     <div class="nav__link">
                        Users <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-user-line"></i> Profiles
                           </a>                          
                        </li>

                        <li>
                           <a href="#" class="dropdown__link">
                              <i class="ri-logout-circle-line"></i> LogOut
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>

      <!--=============== MAIN JS ===============-->
      <script src="../../assets/js/main.js"></script>
   </body>
</html>